{{> header }}

<section class="album full">

  <header>

    <img class="album-image" src="{{{this.tracks.0.picture}}}" />

    <div class="album-info">

      <h1>{{album}}</h1>
      <span>by <a href="{{artistLink}}">{{artist}}</a></span>
      <span class="track-count">Tracks: {{tracks.length}}</span>
      <span class="album-year">Released: {{tracks.0.year}}</span>
      <a class="back-link" href="../">Back to list</a>

    </div>

  </header>

  <br /> {{#each tracks}}

  <article class="track">

    <h1>{{this.title}}</h1>
    {{#if this.comment}}
    <p class="info">{{this.comment}}</p>
    {{/if}}

    {{#if this.lyrics}}
      <details>
        <summary>Lyrics</summary>
        <p class="lyrics">{{{this.lyrics}}}</p>
      </details>
    {{/if}}

    <audio controls>
      <source src="{{this.path}}" type="audio/mpeg">
    </audio>

  </article>

  {{/each}} {{> footer }}
