{{> header }}

<section class="album-list">

{{#each albums.albums}}

  <article class="album-list-item">

    <a class="listen" href="{{this.link}}">

    {{#if this.tracks.0.picture}}
      <img class="album-image" src="{{{this.tracks.0.picture}}}"/>
    {{else}}
      <img class="album-image" src="http://placekitten.com/g/300/300"/>
    {{/if}}

    <div class="album-info">

      <h1 class="album-title">{{{trimString this.name 100}}} {{#if this.tracks.0.year}}({{this.tracks.0.year}}){{/if}}</h1>
      <span class="album-length">Tracks: {{this.tracks.length}}</span>

    </div>

  </a>

  </article>


{{/each}}

</section>

{{> footer }}
